{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('reserver') %}
	<div class="alert alert-success" >
	<h3>{{ messages }}<h3>
	<div>
{% endfor %}



<br>
<div class="container" >
    
<h1> {{room.name}} </h1>  
<img src={{asset('images/' ~ room.image)}} 

</div>



{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="container">
<br>
<a class="btn btn-outline-danger btn-sm" href=" {{path('room.show', {id: room.id})}} "  > Réserver </a>
<div>
{% endif %}


{% endblock %}
