{% extends 'base.html.twig' %}

{% block body %}

{%for message in app.flashes('res')%}

    <div class="alert alert-success" >
        <h3> {{message}} </h3>
		
    </div>    
{% endfor %}
<br>
<div class="container" >
	{{form(resform)}}
</div>









{% endblock %}
