{% extends 'base.html.twig' %}

{% block body %}

{%for message in app.flashes('res')%}

    <div class="alert alert-success" >
        <h3> {{message}} </h3>
		
    </div>    
{% endfor %}
<br>
<div class="container" >
	{{form(resform)}}
    <p> ou réservez votre chambre chez <a href="https://www.booking.com/index.fr.html?aid=376366;label=fr-85Sbyi2evytni3mHZEi6UgS267492169156%3Apl%3Ata%3Ap1%3Ap22.563.000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9055230%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ye7BFAsTyVd6vvamF_no64o;sid=f25ab19291eaaadc82b380f133905df8;keep_landing=1;redirected=1;source=country&gclid=Cj0KCQjwxtSSBhDYARIsAEn0thSjKFnKkRGVB7sC2zQAAefImgR65LDSpU_sj6mLfbyvcDs4OagdgVgaAqMEEALw_wcB&" >Booking.com</a> </p>
    
</div>









{% endblock %}
